# Bootcamp dag 1

## Hello World!

In [1]:
print("Hello world!")

Hello world!

In [2]:
hw = "Hello world!"
print(hw)

Hello world!

In [3]:
print(hw[2])

l

In [4]:
print(hw.split()[0])

Hello

In [5]:
print(hw.split()[-1])

world!

## Functions

In [1]:
# Functie print Hello world als het aangeroepen wordt 
def print_hello():
    print("Hello world!")
    
print_hello()

Hello world!

In [8]:
# geeft de string 'Hello world!' terug
def get_hello():
    return "Hello world!"
print(get_hello())

Hello world!

In [7]:
# Print een gegeven string
def print_text(text):
    print(text)
print_text("Dit is een test!")

Dit is een test!

## sommetjes en lijstjes

In [8]:
print (1 + 1)

a = list(range(1, 11))
print(a)

2
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
b=[11,12,13,14,15] 

a.extend(b)

print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [10]:
print("som van list:", sum(a))

som van list: 120

In [11]:
print("sommatie van 100:", sum(range(101)))

sommatie van 100: 5050

## Meer functies en conditionals

In [24]:
print(5 == 6) # kijkt of 5 gelijk is aan 6
print(5 != 6) # kijkt of 5 niet gelijk is aan 6
print(5 < 6) # kijkt of 5 kleiner is dan 6
print(5 > 6) # kijkt of 5 groter is dan 6
print(5 >= 6) # kijkt of 5 groter of gelijk is aan 6
print(5 <= 6) # kijkt 5 kleiner of gelijk is aan 6

False
True
True
False
False
True

In [13]:
print ('s' in 'Mississippi') # bekijkt of s in Mississippi zit
print('sip' in 'Mississippi') # bekijkt of sip in Mississippi zit
print('mis' in 'Mississippi') # bekijkt of mis in Mississippi zit (hoofdletter gevoelig)

True
True
False

In [12]:
def paste_two_strings_and_print(text1, text2):
    if isinstance(text1, str) and isinstance(text2, str):
        print(text1 + text2)
        
paste_two_strings_and_print("Hello", " world!")
paste_two_strings_and_print("Hello", 5) # wordt niet uitgeprint

Hello world!

In [18]:
import math

def sum_numbers(num1, num2):
    if num2 > num1 or num1 == num2:
        print("Sommatie:", num1 + num2)
        
    lowest_number = min((num1, num2))
    highest_number = max((num1, num2))
    
    num1_pi = num1 * math.pi
    
    print('num1 * pi =', str(num1_pi))
    print('hoogste getal: ', highest_number)
            
    while lowest_number != highest_number:
        lowest_number += 1
        
    return lowest_number
        

print(sum_numbers(5, 7)) 
print(sum_numbers(4, 4)) 
print(sum_numbers(10, 2))

Sommatie: 12
num1 * pi = 15.707963267948966
hoogste getal:  7
7
Sommatie: 8
num1 * pi = 12.566370614359172
hoogste getal:  4
4
num1 * pi = 31.41592653589793
hoogste getal:  10
10

## Dictionary

In [85]:
a = { 'a' : 1, 'b' : 20}

a['c'] = 5

print (a)

{'a': 1, 'b': 20, 'c': 5}

In [86]:
print('c' in a)

True

In [87]:
print('keys:', a.keys())
print('values:', a.values())

keys: dict_keys(['a', 'b', 'c'])
values: dict_values([1, 20, 5])

In [88]:
for i in a.values():
    print(i)

1
20
5

In [89]:
for i in sorted(a.keys()):
    print(i)

a
b
c

In [91]:

for i in sorted(a.values()):
    print(i)

1
5
20

In [20]:
def print_length_of_string(text):
    dict = {e:text.count(e) for e in set(text)}
    print(dict)
 

print_length_of_string("Hello World!")

{'d': 1, 'o': 2, '!': 1, 'l': 3, 'H': 1, ' ': 1, 'W': 1, 'e': 1, 'r': 1}

## Oefening individueel

In [10]:
print("Hello world!")

a = [1,2,3,4,5]
b = [1,3,5,7,9]
c = [4,5,6,7,8]


a = [x+1 for x in a]
b = [x+1 for x in b]
b = [x+1 for x in c]

print("Som a:", sum(a))
print("Som b:", sum(b))
print("Som c:", sum(c))

som = sum(range(101))
    
print('sommatie van 100: ', som)

car = {
     'brand': "Ford",
  "model": "Mustang",
  "year": 1964
}

car['year'] = 1963

print(car)

Hello world!
Som a: 20
Som b: 35
Som c: 30
sommatie van 100:  5050
{'brand': 'Ford', 'model': 'Mustang', 'year': 1963}